<div class="login">
  @if (loggedIn()) {
    <p style="color: yellow">authenticated</p>
  } @else if (showLogin()) {
  <form id="password" class="password" (ngSubmit)="enterPassword($event)">
    <input
      #input
      name="password"
      [type]="showPassword() ? 'text' : 'password'"
      autocomplete="current-password"
      [(ngModel)]="passwordText"
    />
    <div>
      <input
        id="show"
        name="show-password"
        type="checkbox"
        [(ngModel)]="showPassword"
        (click)="input.focus()"
      />
      <label for="show"><small>show</small></label>
    </div>
    @if (error()) {
      <small class="error">{{ error() }}</small>
    }
  </form>
  } @else {
  <button (click)="showLogin.set(true)">login</button>
  }
</div>
