.login {
  position: absolute;
  right: 10px;
  top: 10px;
}

.password {
  width: max(10rem, 100%);
  box-sizing: border-box;
}

.settings {
  label {
    margin-right: 1rem;
  }

  label:last-child {
    margin-right: 0;
  }
}

.password {
  display: grid;
}

small {
  color: var(--c-primary);
  font-family: arcade;
  font-size: large;
  margin-left: 0.5rem;

  &.error {
    color: red;
    margin-left: 0;
  }
}
