<div class="login">
  @if (password) {
  <p style="color: yellow">authenticated</p>
  } @else if (login) {
  <form id="password" class="password" (ngSubmit)="enterPassword($event)">
    <input
      #input
      name="password"
      [type]="show ? 'text' : 'password'"
      autocomplete="current-password"
      [(ngModel)]="passwordText"
    />
    <div>
      <input
        id="show"
        name="show-password"
        type="checkbox"
        [(ngModel)]="show"
        (click)="input.focus()"
      />
      <label for="show"><small>show</small></label>
    </div>
    @if (showError) {
      <small class="error">{{ errorPassword }}</small>
    }
  </form>
  } @else {
  <button (click)="login = true">login</button>
  }
</div>
