.login {
  position: absolute;
  right: 10px;
  top: 10px;
}

.password {
  display: grid;
}

small {
  color: var(--c-primary);
  font-family: arcade;
  font-size: large;
  margin-left: 10px;

  &.error {
    color: red;
    margin-left: 0;
  }
}