<div class="login">
  @if (loggedIn()) {
    <button style="color: var(--c-primary)" (click)="logout()">Logout</button>
  } @else if (showLogin()) {
  <form id="password" class="password" (ngSubmit)="enterPassword($event)">
    <input
      #input
      class="password"
      name="password"
      [type]="showPassword() ? 'text' : 'password'"
      autocomplete="current-password"
      [(ngModel)]="passwordText"
    />
    <div class="settings">
      <input
        id="show"
        name="show-password"
        type="checkbox"
        [(ngModel)]="showPassword"
        (click)="input.focus()"
      />
      <label for="show"><small>show</small></label>

      <input
        id="remember"
        name="remember-me"
        type="checkbox"
        [(ngModel)]="rememberMe"
      />
      <label for="remember"><small>remember me</small></label>
    </div>
    @if (error()) {
      <small class="error">{{ error() }}</small>
    }
  </form>
  } @else {
  <button (click)="showLoginForm()">login</button>
  }
</div>
