:host {
    display: grid;
    grid-template-areas:
    "header aside"
    "main aside";

    grid-template-columns: auto 25rem;
    width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
    position: relative;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    overflow: auto;
    border-left: solid 2px var(--c-primary);
}

.display-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

app-display {
    font-size: max(0.5rem, 0.8vw);
}