:host {
  font-size: 1rem; // Use for scaling
}

.input-board {
  width: 84em;
  border: 0.3125em solid black;
  background-color: black;
}

.row {
  display: grid;
  grid-template-columns: repeat(112, 0.75em);
}

.pixel {
  position: relative;
  user-select: none;
  width: 0.75em;
  height: 0.75em;

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0.05em;
    background-color: rgb(10, 10, 10);
    border-radius: 50%;
  }

  &:hover::before,
  &.hover::before {
    background-color: gray;
  }

  &.toggle::before {
    background-color: var(--c-primary);
  }
}
