.input-board {
    width: 84rem;
    border: 5px solid black;
    margin: 2rem auto;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(112, 0.75rem);
  }
  
  .pixel {
    background-color: black;
    color: white;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
  
    &:hover,
    &.hover {
      background-color: gray;
    }
    &.toggle {
      background-color: yellow;
    }
  }
  