:host {
  font-size: 1rem; // Use for scaling
}

.input-board {
  width: 84em;
  border: 0.3125em solid black;
  background-color: black;
}
  
.row {
  display: grid;
  grid-template-columns: repeat(112, 0.75em);
}

.pixel {
  user-select: none;
  background-color: rgb(10, 10, 10);
  color: white;
  width: 0.65em;
  height: 0.65em;
  margin: 0.1em;
  border-radius: 50%;

  &.toggle {
    background-color: var(--c-primary);
  }
}

.editable .pixel {
  &:hover,
  &.hover {
    background-color: gray;
  }
}
  