<div class="input-board">
  @for (row of flipdots; track rowIndex; let rowIndex = $index) {
    <div class="row">
      @for (pixel of row;track columnIndex; let columnIndex = $index) {
        @if (previewDots[rowIndex][columnIndex] === 1) {
          <div class="pixel hover"></div>
        } @else {
          <div class="pixel"
            [ngClass]="pixel === 1 ? 'toggle' : ''"
            (click)="toggle(rowIndex, columnIndex)"
            (mouseover)="multiToggle($event, rowIndex, columnIndex)"
          ></div>
        }
      }
    </div>
  }
</div>
  